
*{
    padding: 0;
    margin: 0;
   
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cornsilk;
    font-size: 18px;
   
    
}

a{
    text-decoration: none;
    color: black;
}

.links{
    text-decoration: none;
    color: black;
}
.container{
    max-width: 1000px;
    width: 100%;
    height: 100%;
   
    margin: auto;
    

}


header{
  
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 2px;
    background-color: cadetblue;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 20px

}

li{
    width: auto;
    text-align: center;
    margin: auto;
    display: inline-block;
    margin-right: 15px;
}


img{
    
    margin: auto;
    padding: 2px;
    width: 20px;
    text-align: center;

}


.logo{
    
    margin: auto;
    border-image: none;
    padding-left: 10px;
    display: inline-block;

}

.tittle-menu{
    margin: auto;
    list-style: none;
    padding: 0;
    float: right;


}




td, th{
    text-align: center;
    margin: auto;
    

}

section{
    padding: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: dimgray ;
   
    
    
}




table{
   
    border-collapse: separate;
    border-spacing: 77px 5px;
    padding-bottom: 10px;
}

thead{
    
    padding-left: 40px;

    
}



table.tabela{

    border: 1px solid rgb(0, 0, 0);
    width: 100% !important; /*Importante manter o !important rs */
    margin: auto;
    position: relative;
    text-align: center;
    background: #fffff0;
    border: solid grey 1px;
    
}
tbody{
    margin: auto;
    
}



/*
table.tabela tr:nth-child(even){
background: 
}
*/
footer{
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}